.typeList{
    width:100%;
    height:260px;
    display: flex;
    justify-content: space-between;
    background:white;
    align-items: center;
}
.typeList-dl{
    width:150px;
    height:150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.typeList-dl-dt{
    margin-bottom:10px;
}
.typeList-dl-img{
    width:100px;
    height:100px;
}