.tarbar-footer{
    width:100%;
    position:fixed;
    bottom:0px;
    left:0px;
    background:white;
    z-index:1;
}
.tarbar-footer-div{
    display: flex;
    justify-content: space-between;
}
.tarbar-footer-div-div{
    width:25%;
    text-align: center;
    font-size:12px;
}
.tarbar-footer-div-div-p{
    margin-bottom:15px
}