.header-theatre-1{
    width:100%;
    height:85px;
    margin-bottom: 25px;
}
.header-theatre{
    width:100%;
    height:85px;
    line-height:85px;
    border-bottom: 1px solid #ebebeb;
    font-size:40px;
    text-align:center;
    background:white;
    margin-bottom:50px;
    position: fixed;
    top:0;
    left:0;
    z-index:9999
}
.theatre{
    width:100%;
    height:auto;
    padding:0 4%;
    box-sizing: border-box;
}
.theatre-list{
    width: 100%;
    height:600px;
    margin-bottom:25px;
    padding:4% 4%;
    box-sizing: border-box;
    background: white;
}
.theatre-list-son{
    width:100%;
    height:100%;
}
.theatre-list-son-1{
    width:100%;
    height:150px;
}
.theatre-list-son-1a{
    width:150px;
    height:150px;
    float:left;
}
.theatre-list-son-1a-img{
    width:100%;
    height:100%
}
.theatre-list-son-1b{
    float:left;
    margin-left:20px;
    width:250px;
    height:150px;
    padding:20px 0;
    box-sizing: border-box;
}
.theatre-list-son-1b-p1{
    font-weight:bold;
    font-size:35px;
    margin-bottom:45px;
}
.theatre-list-son-1c{
    float:right;
    height:150px;
    line-height: 150px;
}
.theatre-list-son-2{
    width:100%;
    height:450px;
}
.swiper-container{
    width:100%;
    height:400px;
}
.swiper-slide-div1{
    width:230px;
    height:400px;
}
.swiper-slide-div1-div1{
    width:100%;
    height:80px;
    position:relative;
    border-bottom: 4px solid gray;
    text-align:center;
    line-height: 80px;
}
.swiper-slide-div1-span{
    position:absolute;
    left:50%;
    bottom:-8px;
    display: inline-block;
    width:15px;
    height:15px;
    border-radius:40%;
    background:gray;
}
.swiper-slide-div1-div2{
    width:100%;
    height:320px;
    padding:10% 5%;
    box-sizing: border-box;
}
.swiper-slide-div1-div2a{
    wdith:100%;
    height:100%;
    background: white;
}
.swiper-slide-div1-div2a-img{
    width:100%;
    height:100%;
}